body {
	font-family: Arial, Helvetica, sans-serif;
	background: PapayaWhip; 
}

.assignmentsDiv {
	display: flex;
	flex-wrap: wrap;
}
.assignments {
	width: 30%;
	background: OrangeRed; 
	margin: 10px;
	padding: 10px;
}
.assignments img {
	width: 300px;
	height:300px;
	border-radius: 8px;
	padding: 18px;
	display: block;
	margin: auto;
}

a {
	text-decoration: none;
	color: MediumSpringGreen;
}
